body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 auto;
}

.cloud {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.capsules-wrapper {
    padding-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;      
 }

 .wrapper_box {
    box-sizing: border-box;
    display: flex;
    width: 78px;
    height: 17px;
    border: 1px solid #000000;
    border-radius: 17px; 
    margin-right: 20px;
}

.container {
    margin-top: 16px;
    margin-left: 10px;
    box-sizing: border-box;
    width: 52px;
    height: 256px;
    border: 1px solid #000000;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    align-items: center;
}

.background-box_color-red {
    width: 54px;
    height: 197px;
    background: #FF5E5E;
    border-radius: 0px 0px 40px 40px;
    margin-top: 58px;
}

.background-box_color-green {
    width: 51px;
    height: 197px;
    background: #57C962;;
    border-radius: 0px 0px 40px 40px;
    margin-top: 59px;
}

.background-box_color-blue {
    width: 52px;
    height: 197px;
    background: #8BA4FB;;
    border-radius: 0px 0px 40px 40px;
    margin-top: 59px;
}

.num {
    padding-top: 20px;
    columns: 1;
    text-align: center;
}

.num_active {
    color: #fff;
    text-align: center;
}