body {
    display: block;
    margin: 0 auto;
}

.text {
    text-align: center;
    font-size: 30px;
}

svg {
    width: 100%;
}

.capsulas-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 131px;
}

.headder {       
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 17px; 
    width: 78px;
    height: 17px; 
}

.capsulas { 
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 16px;     
}

.wrapper { 
    padding-top: 58px;   
    width: 52px;   
    margin: 0px 13px;
    border: 1px solid #000000;
    border-top: none;
    box-sizing: border-box;
    border-radius: 0px 0px 40px 40px
}

.capsulas-box {       
    border-radius: 0px 0px 40px 40px;
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-red {    
    background: #FF5E5E;  
}

.color-green {   
    background: #57C962;   
}

.color-blue {   
    background: #8BA4FB;   
}

.active {
    color: #fff;
}